@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

h1 {
  color: #ba97dd;
  font-size: 25px;
  font-weight: 700;
}

h2 {
  color:#0f0c29;
  font-size: 25px;
  font-weight: 700;
  align-self: flex-start;
  flex: 1;
}

h2::after {
  content: "";
  display: block;
  width: 50px;
  padding-top: 10px;
  border-bottom: 3px solid #ba97dd;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 15px;
}

h4 {
  color: #ba97dd;
  font-size: 18px;
  font-weight: 700;
}

h5 {
  font-weight: 700;
  font-size: 16px;
}

p {
  font-size: 14px;
}

.btn {
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  margin-right: 7px;
}

.btn-primary {
  background-color: #ba97dd;
  border-color: #ba97dd;
}

.btn-primary:hover {
  background-color: transparent;
  color:#ba97dd;
  border-color: #ba97dd;
}

.btn-outline-primary {
  margin-right: 5px;
  border: 1px solid #ba97dd;
  color: #ba97dd;
}

.btn-outline-primary:hover {
  border: 1px solid #ba97dd;
  color: white;
  background-color: #ba97dd;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100vw;
  color: white;
  z-index: 10;
  padding: 30px 50px;
  background: #000;
}

/* header2.php navbar background color */
#nav-bar {
  background-color: #000;
}

.logo {
  float: left;
  color: white;
  font-size: 20px;
  position: absolute;
  font-weight: 700;
  text-decoration: none;
}

.nav-links {
  overflow: hidden;
  transition: ease 0.5s;
}

.nav-links a {
  display: none;
  color: #f2f2f2;
  text-decoration: none;
  transition: ease 0.5s;
  position: relative;
  padding: 10px 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.5;
  font-size: 13px;
}

.nav-icon {
  float: right;
  display: block;
  color: white;
}

.nav-links.responsive {
  max-height: 100%;
  padding-top: 50px;
  background-color: #0f0c29;
}

.nav-links.responsive a {
  float: none;
  display: block;
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ba97dd;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.25s;
  opacity: 1;
}

.nav-link:hover::before {
  scale: 1;
  transform-origin: left;
  opacity: 1;
}

.nav-links .active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ba97dd;
  border-radius: 4px;
}  

.nav-links .active {
  opacity: 1;
}

.nav-link:hover {
  opacity: 1;
}

.container-hero {
  background-color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}

.hero-content {
  padding: 150px 50px 0px 50px;
}

.image {
    width: 100%;
}

.col {
  max-width: 50%;
}

.col img {
  width: 100%;
  object-fit: cover;
  padding-top: 60px;
}

.column img {
  width: 100%;
}

.column p {
  line-height: 25px;
}

.column ul {
  list-style: none;
  padding: 0;
  line-height: 35px;
}

.lead {
  line-height: 25px;
  font-size: 14px;
}

.footer {
  background-color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer-item {
  width: 100%;
  line-height: 30px;
}

.container-md {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.container-lg {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.container-register {
  margin-top: 80px;
}

.container-register h2 {
  padding-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 10px;
}

.container-sm {
    padding: 0;
    margin: 0;
}

.course-hero {
  background-image: url('Images/camera.jpg');
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  max-width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.course-hero-content {
  text-align: center;
  color: white;
  width: 40%;
}

.portfolio {
  background: #000;
  max-width: 100%;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.portfolio-content {
  text-align: center;
  color: white;
  padding: 50px;
}

.portfolio-container {
  max-width: 100%;
  background: black;
  margin-top: 80px;
  padding: 8px;
}

.course-page-hero {
  background: #F8F8F8;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-page-hero ul {
  padding: 0;
}

.course-page-hero li {
  font-size: 14px;
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}

.hero-column {
  padding: 150px 50px 0px 50px;
}

.column-img {
  max-width: 100%;
  height: 300px;
}

.column-img img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

.contact {
  background-color: #F8F8F8;
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-bottom {
  text-align: center;
  color: white;
  padding-top: 20px;
  width: 100%;
  background: #000;
}

.footer-bottom p {
  margin: 0;
  padding: 30px;
  font-size: 13px;
}

.link-light {
  padding-left: 20px;
}

hr {
  color: white;
}

.fa-envelope,
.fa-phone,
.fa-location-dot,
.fa-clock,
.fa-layer-group,
.fa-check-circle,
.fa-money-bill-alt {
  padding-right: 5px;
}

.newsletter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

#subscribe {
  border-color: #ba97dd;
  color: #ba97dd;
  border-radius: 8px;
}

#subscribe:hover {
  background-color: #ba97dd;
  color: white;
}

.form-control::placeholder {
  opacity: 0.5;
}

.socials {
  padding: 30px 0;
}

.socials li {
  list-style: none;
  display: inline-block;
  font-size: 17px;
  padding-right: 15px;
}

.social-icon {
  color: white;
  transition: ease 0.2s;
}

.social-icon:hover {
  color: #ba97dd;
}

.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin: 0;
}

.gallery-item {
  background-color: #F8F8F8;
  box-shadow: 2px 3px 30px 3px #e5e4e4;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: space-between;
  border-radius: 10px;
}

.gallery-item h4 {
  font-size: 16px;
  color:#0f0c29;
}

.gallery-item p {
  font-size: 14px;
}

.gallery-img {
  width: 100%;
  height: 250px;
  padding-bottom: 10px;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.filterItem {
  display: none;
}

.show {
  display: block;
}

#filter-btns {
  margin-bottom: 20px;
}

#filter-btns .btn {
  margin-bottom: 10px;
}

.btn.btn-active {
  background-color: #ba97dd;
  color: white;
  border-color: #ba97dd;
}

.tags {
  margin: 10px 0;
}

.badge {
  padding: 8px 13px;
  margin-bottom: 5px;
  font-weight: normal;
  color: #0f0c29;
}

.badge-course {
  background-color: rgb(213, 176, 244);
}

.badge-workshop {
  background-color: rgb(176, 224, 244);
}

.badge-beginner {
  background-color: rgb(176, 244, 194);
}

.badge-intermediate {
  background-color: rgb(255, 242, 188);
}

.badge-advanced {
  background-color: rgb(227, 150, 154);
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.fa-chevron-left,
.fa-chevron-right {
  color: #333;
}

.breadcrumb {
  padding-bottom: 40px;
}

.breadcrumb .active {
  color:#0f0c29;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #999;
  transition: ease 0.3s;
}

.breadcrumb-item a:hover {
  color: #0f0c29;
}

.contact-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 84px;
  overflow: hidden;
}

.item-left,
.item-right {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.image-container {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-grid-item {
  margin: 5px;
  overflow: hidden;
  max-height: 500px;
  flex: 1 0 calc(25% - 10px);
}

.image-grid-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  opacity: 0.5;
  mix-blend-mode: lighten;
}

.image-grid-item:hover img {
  transform: scale(1.1);
  opacity: 1;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: transparent;
  margin: auto;
  padding: 0;
  width: 90%;
  height: 80%;
  max-width: 1200px;
  animation: slideIn 0.5s ease forwards;
}

/* Apply the animation when closing */
.modal.closing .modal-content {
  animation: fadeOut 0.5s ease forwards;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.slides {
  display: none;
  height: 100%;
  overflow: hidden;
}

.slides img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.prev-img,
.next-img {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
}

.next-img {
  right: 0;
}

.prev-img:hover,
.next-img:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


@media (min-width: 820px) {
  .hero-column {
    padding: 80px 0;
  }

  .course-page-hero {
    margin-top: 100px;
  }

  h1 {
    font-size: 20px;
  }

  .newsletter {
    flex-direction: row;
  }

  .portfolio-content {
    max-width: 1000px;
  }

}

@media (min-width: 1000px) {
  .nav-icon {
    display: none;
  }

  .nav-links a {
    display: inline-block;
    margin-left: 50px;
  }

  .nav-links {
    float: right;
  }

  .hero-content {
    align-items: center;
  }

  .container-md {
    flex-direction: row;
    gap: 50px;
  }

  .container-lg {
    padding: 100px 40px;
    justify-content: flex-start;
  }

  .column {
    width: 100%;
  }

  .column img {
    width: 100%;
  }

  .footer {
    max-width: 100%;
  }

  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
  }

  .gallery-item {
    width: 30%;
    box-sizing: border-box;
  }

  .column-img {
    height: 500px;
    width: 100%;
    padding-bottom: 40px;
  }

  .course-page-hero {
    padding: 40px 140px;
  }

  .contact-column {
    flex-direction: row;
  }

  .item-left,
  .item-right {
    padding: 100px 100px;
  }

  h1 {
    font-size: 40px;
  }

  .image-grid {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container-register {
    width: 50%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .lead {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }
  
}

@media (min-width: 1500px) {
  .col-img {
    width: 80%;
  }

  .hero-content {
    padding: 50px 50px 0px 50px;
  }
}